# This file tries to group and simplify build options for flare

build --cxxopt=-std=c++2a --host_cxxopt=-std=c++2a

build:llvm --action_env=CXX=clang++ --action_env=CC=clang

build:dbg --compilation_mode=dbg

build:opt --compilation_mode=opt

build --copt=-Wno-sign-compare

test --test_output=errors
