name: Bazel Build

on:
  push:
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build
      # Build your program with clang
      working-directory: ${{github.workspace}}
      run: bazel build --action_env=CXX=clang++ --action_env=CC=clang ...

    - name: Test
      # Build and Execute tests
      working-directory: ${{github.workspace}}
      run: bazel test --action_env=CXX=clang++ --action_env=CC=clang --test_output=errors ...
