name: Bazel Build

on:
  push:
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup bazel
      run: |
        which bazel
        apt list | grep bazel
        sudo apt-get install -y bazel-6.5.0

    - name: Build
      # Build your program with clang
      working-directory: ${{github.workspace}}
      run: bazel build ...

    - name: Test
      # Build and Execute tests
      working-directory: ${{github.workspace}}
      run: bazel test --test_output=errors ...
